USE [master]
GO
/****** Object:  Database [GDA0046-OT-RaulOrozco]    Script Date: 21/12/2024 02:16:14 ******/
CREATE DATABASE [GDA0046-OT-RaulOrozco]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GDA0046-OT-RaulOrozco', FILENAME = N'/var/opt/mssql/data/GDA0046-OT-RaulOrozco.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GDA0046-OT-RaulOrozco_log', FILENAME = N'/var/opt/mssql/data/GDA0046-OT-RaulOrozco_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GDA0046-OT-RaulOrozco].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GDA0046-OT-RaulOrozco]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 21/12/2024 02:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[categoria] [int] NOT NULL,
	[usuario] [int] NOT NULL,
	[nombre] [varchar](45) NOT NULL,
	[marca] [varchar](45) NOT NULL,
	[codigo] [varchar](45) NOT NULL,
	[stock] [int] NOT NULL,
	[precio] [float] NOT NULL,
	[imagen] [image] NULL,
	[activo] [tinyint] NOT NULL,
	[fecha_creacion] [datetime] NULL,
 CONSTRAINT [PK_Productos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_TotalProductosEnStock]    Script Date: 21/12/2024 02:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_TotalProductosEnStock]
AS
SELECT        COUNT(*) AS TOTAL
FROM            dbo.Productos
WHERE        (activo = 1) AND (stock > 0)
GO
/****** Object:  Table [dbo].[Orden]    Script Date: 21/12/2024 02:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orden](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cliente] [int] NOT NULL,
	[estado] [int] NULL,
	[fecha_creacion] [datetime] NULL,
	[nombre_completo] [varchar](200) NULL,
	[direccion] [varchar](545) NULL,
	[telefono] [varchar](45) NULL,
	[email] [varchar](45) NULL,
	[fecha_entrega] [date] NULL,
	[total_orden] [float] NULL,
 CONSTRAINT [PK_Orden] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[view_TotalQuetzalesOrdenesAgo2024]    Script Date: 21/12/2024 02:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[view_TotalQuetzalesOrdenesAgo2024]
as 
SELECT sum(total_orden) as TOTAL
FROM Orden 
WHERE MONTH(fecha_creacion)=8 and Year(fecha_creacion)=2024
;
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 21/12/2024 02:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[razon_social] [varchar](245) NULL,
	[nombre_comercial] [varchar](340) NULL,
	[direccion_entrega] [varchar](45) NULL,
	[telefono] [varchar](45) NULL,
	[email] [varchar](45) NULL,
	[usuario] [int] NOT NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estados]    Script Date: 21/12/2024 02:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estados](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](45) NOT NULL,
 CONSTRAINT [PK_estados] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[view_Top10ClientesMayorConsumo]    Script Date: 21/12/2024 02:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE view [dbo].[view_Top10ClientesMayorConsumo]
AS
SELECT c.*, temp.TOTAL_CONSUMO 
FROM Clientes c
INNER JOIN 
(select top 10 o.cliente, sum(o.total_orden) TOTAL_CONSUMO
from Orden o
INNER JOIN Estados e on o.estado=e.id
where e.nombre='Confirmado'
group by o.cliente
) AS temp on temp.cliente=c.id
;
GO
/****** Object:  Table [dbo].[OrdenDetalles]    Script Date: 21/12/2024 02:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrdenDetalles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[orden] [int] NOT NULL,
	[producto] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[precio] [float] NOT NULL,
	[subtotal] [float] NOT NULL,
 CONSTRAINT [PK_OrdenDetalles] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[view_Top10ProductosMasVendidos]    Script Date: 21/12/2024 02:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE view [dbo].[view_Top10ProductosMasVendidos]
as
select p.*, temp.cantidad_total 
from Productos p
INNER JOIN (
select top 10 producto, sum(cantidad) cantidad_total
from OrdenDetalles d inner join Orden o on d.orden=o.id
inner join Estados e on o.estado=e.id
where e.nombre='Confirmado'
group by producto
order by sum(cantidad) asc
) AS temp on temp.producto=p.id
;
GO
/****** Object:  Table [dbo].[CategoriaProductos]    Script Date: 21/12/2024 02:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriaProductos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[usuario] [int] NOT NULL,
	[nombre] [varchar](45) NOT NULL,
	[activo] [tinyint] NOT NULL,
	[fecha_creacion] [datetime] NULL,
 CONSTRAINT [PK_CategoriaProductos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 21/12/2024 02:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](45) NOT NULL,
 CONSTRAINT [PK_rol] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 21/12/2024 02:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[rol] [int] NOT NULL,
	[email] [varchar](100) NOT NULL,
	[nombre_completo] [varchar](200) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[telefono] [varchar](8) NULL,
	[fecha_nacimiento] [date] NOT NULL,
	[fecha_creacion] [datetime2](7) NULL,
	[activo] [tinyint] NOT NULL,
 CONSTRAINT [PK_usuarios] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CategoriaProductos] ON 

INSERT [dbo].[CategoriaProductos] ([id], [usuario], [nombre], [activo], [fecha_creacion]) VALUES (1, 1, N'Abarrotes', 1, CAST(N'2024-12-07T00:05:36.897' AS DateTime))
INSERT [dbo].[CategoriaProductos] ([id], [usuario], [nombre], [activo], [fecha_creacion]) VALUES (2, 1, N'Limpieza', 1, CAST(N'2024-12-07T00:05:36.897' AS DateTime))
INSERT [dbo].[CategoriaProductos] ([id], [usuario], [nombre], [activo], [fecha_creacion]) VALUES (3, 1, N'Bebidas', 1, CAST(N'2024-12-07T00:05:36.897' AS DateTime))
SET IDENTITY_INSERT [dbo].[CategoriaProductos] OFF
GO
SET IDENTITY_INSERT [dbo].[Clientes] ON 

INSERT [dbo].[Clientes] ([id], [razon_social], [nombre_comercial], [direccion_entrega], [telefono], [email], [usuario]) VALUES (1, N'Juan Pérez Personal', N'Juan Pérez', N'7a Avenida Zone 13', N'55667788', N'juan.perez@email.com', 3)
INSERT [dbo].[Clientes] ([id], [razon_social], [nombre_comercial], [direccion_entrega], [telefono], [email], [usuario]) VALUES (2, N'María González Personal', N'María González', N'15 Calle Zona 10', N'44556677', N'maria.gonzalez@email.com', 4)
INSERT [dbo].[Clientes] ([id], [razon_social], [nombre_comercial], [direccion_entrega], [telefono], [email], [usuario]) VALUES (3, N'Carlos Rodríguez Personal', N'Carlos Rodríguez', N'3ra Calle Zona 7', N'33445566', N'carlos.rodriguez@email.com', 5)
SET IDENTITY_INSERT [dbo].[Clientes] OFF
GO
SET IDENTITY_INSERT [dbo].[Estados] ON 

INSERT [dbo].[Estados] ([id], [nombre]) VALUES (1, N'Aprobado')
INSERT [dbo].[Estados] ([id], [nombre]) VALUES (2, N'Rechazado')
SET IDENTITY_INSERT [dbo].[Estados] OFF
GO
SET IDENTITY_INSERT [dbo].[Productos] ON 

INSERT [dbo].[Productos] ([id], [categoria], [usuario], [nombre], [marca], [codigo], [stock], [precio], [imagen], [activo], [fecha_creacion]) VALUES (1, 1, 1, N'Arroz', N'Tucán', N'ARR001', 100, 15.5, NULL, 1, CAST(N'2024-12-07T00:05:45.207' AS DateTime))
INSERT [dbo].[Productos] ([id], [categoria], [usuario], [nombre], [marca], [codigo], [stock], [precio], [imagen], [activo], [fecha_creacion]) VALUES (2, 1, 1, N'Frijoles', N'Del Campo', N'FRI001', 75, 12.25, NULL, 1, CAST(N'2024-12-07T00:05:45.207' AS DateTime))
INSERT [dbo].[Productos] ([id], [categoria], [usuario], [nombre], [marca], [codigo], [stock], [precio], [imagen], [activo], [fecha_creacion]) VALUES (3, 2, 1, N'Detergente', N'Cloro Max', N'DET001', 50, 25.75, NULL, 1, CAST(N'2024-12-07T00:05:45.207' AS DateTime))
SET IDENTITY_INSERT [dbo].[Productos] OFF
GO
SET IDENTITY_INSERT [dbo].[Rol] ON 

INSERT [dbo].[Rol] ([id], [nombre]) VALUES (1, N'Administrador')
INSERT [dbo].[Rol] ([id], [nombre]) VALUES (2, N'Operador')
INSERT [dbo].[Rol] ([id], [nombre]) VALUES (3, N'Cliente')
SET IDENTITY_INSERT [dbo].[Rol] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([id], [rol], [email], [nombre_completo], [password], [telefono], [fecha_nacimiento], [fecha_creacion], [activo]) VALUES (1, 1, N'admin@mitiendita.com', N'Administrador Principal', N'Admin123!', N'55889900', CAST(N'1990-01-15' AS Date), CAST(N'2024-12-07T00:05:30.7633333' AS DateTime2), 1)
INSERT [dbo].[Usuarios] ([id], [rol], [email], [nombre_completo], [password], [telefono], [fecha_nacimiento], [fecha_creacion], [activo]) VALUES (2, 2, N'operador1@mitiendita.com', N'José Martínez', N'Operador123!', N'44778855', CAST(N'1992-05-20' AS Date), CAST(N'2024-12-07T00:05:30.7633333' AS DateTime2), 1)
INSERT [dbo].[Usuarios] ([id], [rol], [email], [nombre_completo], [password], [telefono], [fecha_nacimiento], [fecha_creacion], [activo]) VALUES (3, 3, N'juan.perez@email.com', N'Juan Pérez', N'Cliente123!', N'55667788', CAST(N'1985-07-10' AS Date), CAST(N'2024-12-07T00:05:30.7633333' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Estados]    Script Date: 21/12/2024 02:16:14 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Estados] ON [dbo].[Estados]
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Usuario_email]    Script Date: 21/12/2024 02:16:14 ******/
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [UQ_Usuario_email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CategoriaProductos] ADD  CONSTRAINT [DF_CategoriaProductos_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[CategoriaProductos] ADD  CONSTRAINT [DEFAULT_CategoriaProductos_fecha_creacion]  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[Orden] ADD  CONSTRAINT [DEFAULT_Orden_fecha_creacion]  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[OrdenDetalles] ADD  CONSTRAINT [DEFAULT_OrdenDetalles_cantidad]  DEFAULT ((0)) FOR [cantidad]
GO
ALTER TABLE [dbo].[OrdenDetalles] ADD  CONSTRAINT [DEFAULT_OrdenDetalles_precio]  DEFAULT ((0)) FOR [precio]
GO
ALTER TABLE [dbo].[OrdenDetalles] ADD  CONSTRAINT [DEFAULT_OrdenDetalles_subtotal]  DEFAULT ((0)) FOR [subtotal]
GO
ALTER TABLE [dbo].[Productos] ADD  CONSTRAINT [DEFAULT_Productos_stock]  DEFAULT ((0)) FOR [stock]
GO
ALTER TABLE [dbo].[Productos] ADD  CONSTRAINT [DF_Productos_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Productos] ADD  CONSTRAINT [DEFAULT_Productos_fecha_creacion]  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [DEFAULT_usuarios_fecha_creacion]  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [DF_Usuarios_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[CategoriaProductos]  WITH CHECK ADD  CONSTRAINT [FK_CategoriaProductos_Usuarios] FOREIGN KEY([usuario])
REFERENCES [dbo].[Usuarios] ([id])
GO
ALTER TABLE [dbo].[CategoriaProductos] CHECK CONSTRAINT [FK_CategoriaProductos_Usuarios]
GO
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD  CONSTRAINT [FK_Clientes_Usuarios] FOREIGN KEY([usuario])
REFERENCES [dbo].[Usuarios] ([id])
GO
ALTER TABLE [dbo].[Clientes] CHECK CONSTRAINT [FK_Clientes_Usuarios]
GO
ALTER TABLE [dbo].[Orden]  WITH CHECK ADD  CONSTRAINT [FK_Orden_Clientes] FOREIGN KEY([cliente])
REFERENCES [dbo].[Clientes] ([id])
GO
ALTER TABLE [dbo].[Orden] CHECK CONSTRAINT [FK_Orden_Clientes]
GO
ALTER TABLE [dbo].[Orden]  WITH CHECK ADD  CONSTRAINT [FK_Orden_Estados] FOREIGN KEY([estado])
REFERENCES [dbo].[Estados] ([id])
GO
ALTER TABLE [dbo].[Orden] CHECK CONSTRAINT [FK_Orden_Estados]
GO
ALTER TABLE [dbo].[OrdenDetalles]  WITH CHECK ADD  CONSTRAINT [FK_OrdenDetalles_Orden] FOREIGN KEY([orden])
REFERENCES [dbo].[Orden] ([id])
GO
ALTER TABLE [dbo].[OrdenDetalles] CHECK CONSTRAINT [FK_OrdenDetalles_Orden]
GO
ALTER TABLE [dbo].[OrdenDetalles]  WITH CHECK ADD  CONSTRAINT [FK_OrdenDetalles_Productos] FOREIGN KEY([producto])
REFERENCES [dbo].[Productos] ([id])
GO
ALTER TABLE [dbo].[OrdenDetalles] CHECK CONSTRAINT [FK_OrdenDetalles_Productos]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_CategoriaProductos] FOREIGN KEY([categoria])
REFERENCES [dbo].[CategoriaProductos] ([id])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_CategoriaProductos]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_Usuarios] FOREIGN KEY([usuario])
REFERENCES [dbo].[Usuarios] ([id])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_Usuarios]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_usuarios_rol] FOREIGN KEY([rol])
REFERENCES [dbo].[Rol] ([id])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_usuarios_rol]
GO
/****** Object:  StoredProcedure [dbo].[sp_categoriaProducto_create]    Script Date: 21/12/2024 02:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Procedimiento para crear una nueva categoría de producto
CREATE PROCEDURE [dbo].[sp_categoriaProducto_create]
	@Usuario int,
    @Nombre NVARCHAR(50),
	@Activo tinyint=1
AS
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION
			INSERT INTO CategoriaProductos (usuario,nombre,activo)
			VALUES (@Usuario, @Nombre, @Activo);
		--acometer transacción
		COMMIT TRANSACTION

		--obtener el ID de la nueva categoria
		SELECT SCOPE_IDENTITY() as id;

	END TRY
	BEGIN CATCH
		--deshacer transaccion
		ROLLBACK TRANSACTION

		--obtener la información del error en sistema
		DECLARE @ErrorMessage NVARCHAR(4000);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;

        SELECT @ErrorMessage = ERROR_MESSAGE(),@ErrorSeverity = ERROR_SEVERITY(),@ErrorState = ERROR_STATE();
		-- propagar el error
		RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
	END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_categoriaProducto_delete]    Script Date: 21/12/2024 02:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Procedimiento para eliminar una categoría de producto
CREATE PROCEDURE [dbo].[sp_categoriaProducto_delete]
    @ID INT=NULL
AS
BEGIN

	IF @ID IS NULL
	BEGIN
		RAISERROR('El ID es obligatorio para eliminar una categoria',16,1);
		RETURN;
	END

    DELETE FROM CategoriaProductos
    WHERE ID = @ID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_categoriaProducto_get]    Script Date: 21/12/2024 02:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Procedimiento para leer una categoría de producto por ID
CREATE PROCEDURE [dbo].[sp_categoriaProducto_get]
    @Id INT=NULL,
	@Usuario int=NULL,
	@Nombre varchar(45)=NULL,
	@Activo tinyint=NULL
AS
BEGIN
    SELECT * FROM CategoriaProductos
    WHERE id = isnull(@ID,id) AND usuario=isnull(@Usuario,usuario)
	AND nombre=isnull(@Nombre,nombre) AND activo=isnull(@Activo,activo)
	;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_categoriaProducto_update]    Script Date: 21/12/2024 02:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Procedimiento para actualizar una categoría de producto
CREATE PROCEDURE [dbo].[sp_categoriaProducto_update]
    @ID INT=NULL,
    @Nombre NVARCHAR(50)=null,
	@Activo Tinyint =null
AS
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION
			IF @ID IS NULL
			BEGIN
				RAISERROR (N'El ID es obligatorio para actualizar una categoría.',16,1);
				RETURN;
			END

			--Actualizar categoria
			UPDATE CategoriaProductos
			SET nombre = isnull(@Nombre,nombre), activo=isnull(@Activo,activo)
			WHERE id = @ID;

		COMMIT TRANSACTION

		SELECT * FROM CategoriaProductos where id=@ID;

	END TRY
	BEGIN CATCH

		ROLLBACK TRANSACTION
		--obtener la información del error en sistema
		DECLARE @ErrorMessage NVARCHAR(4000);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;

        SELECT @ErrorMessage = ERROR_MESSAGE(),@ErrorSeverity = ERROR_SEVERITY(),@ErrorState = ERROR_STATE();
		-- propagar el error
		RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);

	END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_cliente_create]    Script Date: 21/12/2024 02:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_cliente_create]
    @razon_social VARCHAR(245),
    @nombre_comercial VARCHAR(340),
    @direccion_entrega VARCHAR(45),
    @telefono VARCHAR(45),
    @email VARCHAR(45),
    @usuario INT
AS
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION

        INSERT INTO Clientes(razon_social, nombre_comercial, direccion_entrega, telefono, email, usuario)
        VALUES(@razon_social, @nombre_comercial, @direccion_entrega, @telefono, @email, @usuario);

        COMMIT TRANSACTION

        SELECT SCOPE_IDENTITY() as id;

    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION
        --obtener la información del error en sistema
        DECLARE @ErrorMessage  VARCHAR(4000);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;

        SELECT @ErrorMessage = ERROR_MESSAGE(),@ErrorSeverity = ERROR_SEVERITY(),@ErrorState = ERROR_STATE();
        -- propagar el error
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[sp_cliente_get]    Script Date: 21/12/2024 02:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_cliente_get]
    @id INT=NULL,
    @razon_social VARCHAR(245)=NULL,
    @nombre_comercial VARCHAR(340)=NULL,
    @direccion_entrega VARCHAR(45)=NULL,
    @telefono VARCHAR(45)=NULL,
    @email VARCHAR(45)=NULL,
    @usuario INT=NULL
AS
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION

        SELECT * FROM Clientes
        WHERE id = ISNULL(@id,id)
        AND razon_social = ISNULL(@razon_social,razon_social)
        AND nombre_comercial = ISNULL(@nombre_comercial,nombre_comercial)
        AND direccion_entrega = ISNULL(@direccion_entrega,direccion_entrega)
        AND telefono = ISNULL(@telefono,telefono)
        AND email = ISNULL(@email,email)
        AND usuario = ISNULL(@usuario,usuario);

        COMMIT TRANSACTION

    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION
        --obtener la información del error en sistema
        DECLARE @ErrorMessage  VARCHAR(4000);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;

        SELECT @ErrorMessage = ERROR_MESSAGE(),@ErrorSeverity = ERROR_SEVERITY(),@ErrorState = ERROR_STATE();
        -- propagar el error
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_cliente_update]    Script Date: 21/12/2024 02:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_cliente_update]
    @id INT,
    @razon_social VARCHAR(245)=NULL,
    @nombre_comercial VARCHAR(340)=NULL,
    @direccion_entrega VARCHAR(45)=NULL,
    @telefono VARCHAR(45)=NULL,
    @email VARCHAR(45)=NULL
AS
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION

        UPDATE Clientes
        SET razon_social = ISNULL(@razon_social,razon_social),
            nombre_comercial = ISNULL(@nombre_comercial,nombre_comercial),
            direccion_entrega = ISNULL(@direccion_entrega,direccion_entrega),
            telefono = ISNULL(@telefono,telefono),
            email = ISNULL(@email,email)
        WHERE id = @id;

        COMMIT TRANSACTION

        SELECT * FROM Clientes WHERE id = @id;

    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION
        --obtener la información del error en sistema
        DECLARE @ErrorMessage  VARCHAR(4000);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;

        SELECT @ErrorMessage = ERROR_MESSAGE(),@ErrorSeverity = ERROR_SEVERITY(),@ErrorState = ERROR_STATE();
        -- propagar el error
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_estado_create]    Script Date: 21/12/2024 02:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_estado_create]
    @Nombre NVARCHAR(50)
AS
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION
			INSERT INTO Estados (Nombre)
			VALUES (@Nombre);
		COMMIT TRANSACTION

		--obtener el ID de la nueva categoria
		SELECT SCOPE_IDENTITY() as id;
	END TRY
	BEGIN CATCH

		ROLLBACK TRANSACTION
		--obtener la información del error en sistema
		DECLARE @ErrorMessage NVARCHAR(4000);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;

        SELECT @ErrorMessage = ERROR_MESSAGE(),@ErrorSeverity = ERROR_SEVERITY(),@ErrorState = ERROR_STATE();
		-- propagar el error
		RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
	END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_estado_delete]    Script Date: 21/12/2024 02:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_estado_delete]
    @ID INT=NULL
AS
BEGIN
	IF @ID IS NULL
	BEGIN
		RAISERROR('El ID es obligatorio para eliminar un estado',16,1);
		RETURN;
	END
    DELETE FROM Estados
    WHERE id = @ID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_estado_get]    Script Date: 21/12/2024 02:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Procedimiento para leer un estado por ID
CREATE PROCEDURE [dbo].[sp_estado_get]
    @ID INT=NULL,
	@Nombre varchar(45)=NULL
AS
BEGIN
	BEGIN TRY

		SELECT * 
		FROM Estados
		WHERE id = isnull(@ID,id) AND nombre=isnull(@Nombre,nombre);

	END TRY
	BEGIN CATCH
		--obtener la información del error en sistema
		DECLARE @ErrorMessage NVARCHAR(4000);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;

        SELECT @ErrorMessage = ERROR_MESSAGE(),@ErrorSeverity = ERROR_SEVERITY(),@ErrorState = ERROR_STATE();
		-- propagar el error
		RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
	END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_estado_update]    Script Date: 21/12/2024 02:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Procedimiento para actualizar un estado
CREATE PROCEDURE [dbo].[sp_estado_update]
    @ID INT=NULL,
    @Nombre NVARCHAR(50)=NULL
AS
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION

			IF @ID IS NULL
			BEGIN
				RAISERROR('El ID es obligatorio para actualizar un estado.',16,1);
				RETURN;
			END

			UPDATE Estados
			SET nombre = isnull(@Nombre,nombre)
			WHERE id = @ID;

		COMMIT TRANSACTION

		SELECT * FROM Estados WHERE id=@ID;

	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION

		--obtener la información del error en sistema
		DECLARE @ErrorMessage NVARCHAR(4000);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;

        SELECT @ErrorMessage = ERROR_MESSAGE(),@ErrorSeverity = ERROR_SEVERITY(),@ErrorState = ERROR_STATE();
		-- propagar el error
		RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);

	END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_orden_create]    Script Date: 21/12/2024 02:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_orden_create]
    @cliente INT,
    @nombre_completo VARCHAR(200),
    @direccion VARCHAR(545),
    @telefono VARCHAR(45),
    @email VARCHAR(45),
    @fecha_entrega VARCHAR(10),
    @Json_detalle_orden NVARCHAR(max)
AS
BEGIN
   DECLARE @id_orden INT;
   DECLARE @Fecha_entregaFormateada DATE;
    BEGIN TRY
        BEGIN TRANSACTION
		

		-- Convertir la fecha de texto a DATE
		SET @Fecha_entregaFormateada = CONVERT(DATE, @fecha_entrega, 120);

        INSERT INTO Orden(cliente, nombre_completo, direccion, telefono, email, fecha_entrega)
        VALUES(@cliente, @nombre_completo, @direccion, @telefono, @email, @Fecha_entregaFormateada);

        SET @id_orden = SCOPE_IDENTITY();

        INSERT INTO OrdenDetalles(orden, producto, cantidad, precio, subtotal)
        SELECT @id_orden,
            detalle.producto,
            detalle.cantidad,
            detalle.precio,
            detalle.cantidad * detalle.precio as subtotal
        FROM OPENJSON(@Json_detalle_orden)
        WITH (
            producto int,
            cantidad int,
            precio float,
            subtotal float
        ) as detalle;

        --verificando que los productos se encuentren activos
        IF NOT EXISTS(
            SELECT 1
            FROM OrdenDetalles od
            INNER JOIN Productos p ON od.producto = p.id
            WHERE od.orden = @id_orden AND p.activo = 0
        )
        BEGIN

			--actualizamos el total de la orden
            UPDATE Orden
            SET total_orden = (SELECT SUM(subtotal) FROM OrdenDetalles WHERE orden = @id_orden)
            WHERE id = @id_orden;

            COMMIT TRANSACTION

			SELECT @id_orden as id;
        END
        ELSE
        BEGIN
            ROLLBACK TRANSACTION
            RAISERROR('Uno o más productos no existen o no se encuentran activos', 16, 1)
        END
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION
		-- Manejo de errores
        DECLARE @ErrorMessage NVARCHAR(4000);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();

        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);

    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_orden_procesar]    Script Date: 21/12/2024 02:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_orden_procesar]
    @id INT,
    @estado VARCHAR(50)
AS
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION

        --verificar que el id no sea nulo
        IF @id IS NULL
        BEGIN
            RAISERROR('El id es obligatorio', 16, 1)
        END

        --verificar que el estado no sea nulo
        IF @estado IS NULL
        BEGIN
            RAISERROR('El estado es obligatorio', 16, 1)
        END

        --verificar que el estado exista
        IF NOT EXISTS(SELECT 1 FROM Estados WHERE nombre = @estado)
        BEGIN
            RAISERROR('El estado no existe', 16, 1)
        END

        --verificar que la orden exista
        IF NOT EXISTS(SELECT 1 FROM Orden WHERE id = @id)
        BEGIN
            RAISERROR('La orden no existe', 16, 1)
        END

        --verificar que la orden tenga productos
        IF NOT EXISTS(SELECT 1 FROM OrdenDetalles WHERE orden = @id)
        BEGIN
            RAISERROR('La orden no tiene productos', 16, 1)
        END

        --verificar que los productos esten activos y tengan existencia en stock
        IF @estado = 'Aprobado' AND EXISTS(
            SELECT 1
            FROM OrdenDetalles od
            INNER JOIN Productos p ON od.producto = p.id
            WHERE od.orden = @id AND (p.activo = 0 OR p.stock = 0)
        )
        BEGIN
            RAISERROR('Uno o más productos no existen, no se encuentran activos o no tienen stock', 16, 1)
        END


        -- actualizar el stock de los productos
        IF @estado = 'Aprobado'
        BEGIN
            UPDATE p
            SET stock = p.stock - od.cantidad
            FROM Productos p
            INNER JOIN OrdenDetalles od ON p.id = od.producto
            WHERE od.orden = @id;
        END

        --actualizar el estado de la orden
        UPDATE Orden
        SET estado = (SELECT id FROM Estados WHERE nombre = @estado)
        WHERE id = @id;

        COMMIT TRANSACTION
        --devolver la orden actualizada
        SELECT TOP 1 * FROM Orden WHERE id = @id;

    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION
        --obtener la información del error en sistema
        DECLARE @ErrorMessage NVARCHAR(4000);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;

        SELECT @ErrorMessage = ERROR_MESSAGE(),@ErrorSeverity = ERROR_SEVERITY(),@ErrorState = ERROR_STATE();
        -- propagar el error
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_orden_update]    Script Date: 21/12/2024 02:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_orden_update]
    @id INT=NULL,
    @nombre_completo VARCHAR(200)=NULL,
    @direccion VARCHAR(545)=NULL,
    @telefono VARCHAR(45)=NULL,
    @email VARCHAR(45)=NULL,
    @fecha_entrega VARCHAR(10)=NULL,
    @total_orden FLOAT
AS
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION

        --verificar que el id Y cliente no sean nulos
        IF @id IS NULL
        BEGIN
            RAISERROR('El id es obligatorio', 16, 1)
        END


        UPDATE Orden
        SET 
            nombre_completo = isnull( @nombre_completo, nombre_completo),
            direccion = isnull(@direccion, direccion),
            telefono = isnull(@telefono,telefono),
            email = isnull(@email,email),
            fecha_entrega = isnull(@fecha_entrega,fecha_entrega),
            total_orden = isnull(@total_orden, total_orden)
        WHERE id = @id;

        COMMIT TRANSACTION
        --devolver la orden actualizada
		SELECT TOP 1 * FROM Orden WHERE id=@id;

    END TRY
    BEGIN CATCH

        ROLLBACK TRANSACTION
		--obtener la información del error en sistema
		DECLARE @ErrorMessage NVARCHAR(4000);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;

        SELECT @ErrorMessage = ERROR_MESSAGE(),@ErrorSeverity = ERROR_SEVERITY(),@ErrorState = ERROR_STATE();
		-- propagar el error
		RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_producto_create]    Script Date: 21/12/2024 02:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_producto_create]
	@categoria int,
	@usuario int,
	@nombre varchar(45),
	@marca varchar(45),
	@codigo varchar(45),
	@stock int,
	@precio float,
	@imagen image=null
as
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION
			INSERT INTO Productos(categoria,usuario,nombre,marca,codigo,stock,precio, imagen)
			values(@categoria,@usuario,@nombre,@marca,@codigo,@stock,@precio, @imagen);
		COMMIT TRANSACTION

		--obtener el ID del nuevo producto
		SELECT SCOPE_IDENTITY() as id;

	END TRY
	BEGIN CATCH
		-- deshacer la transaccion
		ROLLBACK TRANSACTION

		--obtener la información del error en sistema
		DECLARE @ErrorMessage NVARCHAR(4000);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;

        SELECT @ErrorMessage = ERROR_MESSAGE(),@ErrorSeverity = ERROR_SEVERITY(),@ErrorState = ERROR_STATE();
		-- propagar el error
		RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);

	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_producto_delete]    Script Date: 21/12/2024 02:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_producto_delete]
    @ID INT=NULL
AS
BEGIN

	IF @ID IS NULL
	BEGIN
		RAISERROR('El ID es obligatorio para eliminar un producto',16,1);
		RETURN;
	END

    DELETE FROM Productos
    WHERE ID = @ID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_producto_get]    Script Date: 21/12/2024 02:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_producto_get]
    @Id INT=NULL,
    @Categoria int=NULL,
    @Usuario int=NULL,
    @Nombre varchar(45)=NULL,
    @Marca varchar(45)=NULL,
    @Codigo varchar(45)=NULL,
    @Stock INT=NULL,
    @Precio float=NULL,
    @Activo tinyint=NULL,
    @Page_number INT = NULL,
    @Page_size INT = NULL
AS
BEGIN
    BEGIN TRY
        IF @Page_number IS NOT NULL AND @Page_size IS NOT NULL
        BEGIN
            DECLARE @Offset INT
            DECLARE @Total_records INT
            DECLARE @Total_pages INT

            SET @Offset = (@Page_number - 1) * @Page_size

            -- Obtener el total de registros
            SELECT @Total_records = COUNT(*)
            FROM Productos
            WHERE ID=ISNULL(@Id,id) AND categoria=ISNULL(@Categoria,categoria)
            AND usuario=isnull(@Usuario,usuario) AND nombre=ISNULL(@Nombre,nombre)
            AND marca=isnull(@Marca, marca) AND codigo=isnull(@Codigo,codigo)
            AND stock=isnull(@Stock,stock) AND precio=isnull(@Precio,precio)
            AND activo=isnull(@Activo,activo)

            -- Calcular el total de páginas
            SET @Total_pages = CEILING(CAST(@Total_records AS FLOAT) / @Page_size)

            SELECT *, @Total_records AS Total_records, @Total_pages AS Total_pages
            FROM Productos
            WHERE ID=ISNULL(@Id,id) AND categoria=ISNULL(@Categoria,categoria)
            AND usuario=isnull(@Usuario,usuario) AND nombre=ISNULL(@Nombre,nombre)
            AND marca=isnull(@Marca, marca) AND codigo=isnull(@Codigo,codigo)
            AND stock=isnull(@Stock,stock) AND precio=isnull(@Precio,precio)
            AND activo=isnull(@Activo,activo)
            ORDER BY ID
            OFFSET @Offset ROWS
            FETCH NEXT @Page_size ROWS ONLY;
        END
        ELSE
        BEGIN
            SELECT *
            FROM Productos
            WHERE ID=ISNULL(@Id,id) AND categoria=ISNULL(@Categoria,categoria)
            AND usuario=isnull(@Usuario,usuario) AND nombre=ISNULL(@Nombre,nombre)
            AND marca=isnull(@Marca, marca) AND codigo=isnull(@Codigo,codigo)
            AND stock=isnull(@Stock,stock) AND precio=isnull(@Precio,precio)
            AND activo=isnull(@Activo,activo);
        END
    END TRY
    BEGIN CATCH
        --obtener la información del error en sistema
		DECLARE @ErrorMessage NVARCHAR(4000);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;

        SELECT @ErrorMessage = ERROR_MESSAGE(),@ErrorSeverity = ERROR_SEVERITY(),@ErrorState = ERROR_STATE();
		-- propagar el error
		RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_producto_update]    Script Date: 21/12/2024 02:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_producto_update]
	@id int=null,
	@categoria int=null,
	@usuario int=null,
	@nombre varchar(45)=null,
	@marca varchar(45)=null,
	@codigo varchar(45)=null,
	@stock int=null,
	@precio float=null,
	@imagen image=null,
	@activo tinyint=null
AS
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION

			IF @id IS NULL
			BEGIN
				RAISERROR (N'El ID es obligatorio para actualizar un producto.',16,1);
				RETURN;
			END
			-- Actualizar producto
			UPDATE Productos
			SET 
			categoria=isnull(@categoria,categoria),
			usuario=isnull(@usuario,usuario),
			nombre=isnull(@nombre,nombre),
			marca=isnull(@marca,marca),
			codigo=isnull(@codigo,codigo),
			stock=isnull(@stock,stock),
			precio=isnull(@precio,precio),
			imagen=isnull(@imagen,imagen),
			activo=isnull(@activo,activo)
			WHERE id=@id;

		COMMIT TRANSACTION

		--devolver el producto actualizado
		SELECT TOP 1 * FROM Productos WHERE id=@id;

	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION
		--obtener la información del error en sistema
		DECLARE @ErrorMessage NVARCHAR(4000);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;

        SELECT @ErrorMessage = ERROR_MESSAGE(),@ErrorSeverity = ERROR_SEVERITY(),@ErrorState = ERROR_STATE();
		-- propagar el error
		RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_usuario_create]    Script Date: 21/12/2024 02:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_usuario_create]
	@rol INT,
    @Email VARCHAR(100),
    @Nombre_completo VARCHAR(200),
    @Password VARCHAR(255),
    @Telefono VARCHAR(8),
    @Fecha_nacimiento varchar(10)
AS
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION

		DECLARE @UsuarioID INT;
		DECLARE @FechaNacimientoFormateada DATE;

		-- Convertir la fecha de texto a DATE
		SET @FechaNacimientoFormateada = CONVERT(DATE, @Fecha_nacimiento, 120);

		-- Insertar el nuevo usuario
		INSERT INTO Usuarios (rol,email, nombre_completo, password, telefono, fecha_nacimiento)
		VALUES (@rol,@Email, @Nombre_completo, @Password, @Telefono, @FechaNacimientoFormateada);


		 -- Obtener el ID del usuario recién creado
		SET @UsuarioID = SCOPE_IDENTITY();
		
		-- Si el rol es 3(cliente), crear un cliente asociado al usuario
		IF @rol = 3
		BEGIN
			INSERT INTO Clientes (usuario)
			VALUES (@UsuarioID);
		END

		SELECT @UsuarioID as id;

		COMMIT TRANSACTION

	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION

		--obtener la información del error en sistema
		DECLARE @ErrorMessage NVARCHAR(4000);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;

        SELECT @ErrorMessage = ERROR_MESSAGE(),@ErrorSeverity = ERROR_SEVERITY(),@ErrorState = ERROR_STATE();
		-- propagar el error
		RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
	END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_usuario_get]    Script Date: 21/12/2024 02:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_usuario_get]
	@id INT=NULL,
	@rol INT=NULL,
    @email VARCHAR(100)=NULL,
    @nombre_completo VARCHAR(200)=NULL,
    @password VARCHAR(255)=NULL,
    @telefono VARCHAR(8)=NULL,
    @fecha_nacimiento DATE=NULL,
    @activo TINYINT=NULL
AS
BEGIN
    SELECT u.* , r.nombre as rol_name
	FROM Usuarios u inner join Rol r on u.rol=r.id
	WHERE 
	u.id=isnull(@id,u.id) AND
	u.rol=isnull(@rol,u.rol) AND
	u.email=isnull(@email,u.email) AND
	u.nombre_completo=isnull(@nombre_completo,u.nombre_completo) AND
	u.password=isnull(@password,u.password) AND
	u.telefono=isnull(@telefono,u.telefono) AND
	u.fecha_nacimiento=isnull(@fecha_nacimiento,u.fecha_nacimiento) AND
	u.activo=isnull(@activo,u.activo)
	;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_usuario_update]    Script Date: 21/12/2024 02:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_usuario_update]
    @id INT=NULL,
    @email VARCHAR(100)=NULL,
    @nombre_completo VARCHAR(200)=NULL,
    @password VARCHAR(255)=NULL,
    @telefono VARCHAR(8)=NULL,
    @fecha_nacimiento DATE=NULL,
    @activo TINYINT=NULL
AS
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION

		IF @id IS NULL
		BEGIN
			RAISERROR (N'El ID es obligatorio para actualizar un usuario.',16,1);
			RETURN;
		END

		DECLARE @rol_actual INT;

		-- Obtener el rol actual del usuario
		SELECT @rol_actual = rol FROM Usuarios WHERE id = @id;

		UPDATE Usuarios
		SET 
			email = isnull(@email,email),
			nombre_completo = isnull(@nombre_completo,nombre_completo),
			password = isnull(@password,password),
			telefono =isnull(@telefono,telefono),
			fecha_nacimiento = isnull(@fecha_nacimiento,fecha_nacimiento),
			activo = isnull(@activo,activo)
		WHERE id = @id;

		COMMIT TRANSACTION

		--devolver el usuario actualizado
		SELECT TOP 1 * FROM Usuarios WHERE id=@id;

	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION
		--obtener la información del error en sistema
		DECLARE @ErrorMessage NVARCHAR(4000);
		DECLARE @ErrorSeverity INT;
		DECLARE @ErrorState INT;

		SELECT @ErrorMessage = ERROR_MESSAGE(),@ErrorSeverity = ERROR_SEVERITY(),@ErrorState = ERROR_STATE();
		-- propagar el error
		RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
	END CATCH

END;
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[35] 4[28] 2[21] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Productos"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_TotalProductosEnStock'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_TotalProductosEnStock'
GO
USE [master]
GO
